{
  "kwargs": {
    "ts": [7200],
    "ds": [0.01],
    "n_core": 4,
    "active_dataset": ["foursquare"],
    "active_mode": ["weekend"],
    "colocation":{
      "run":false,
      "start":0,
      "finish":-1,
      "debug":false,
      "run_by":"user"
    },
    "sci":false,
    "pgt":false,
    "sci_features":0,
    "pgt_features":0,
    "sci_eval":false,
    "pgt_eval":false,
    "partial_colocation":{
      "p":1,
      "k":2,
      "t_input":7200,
      "d_input":0.01,
      "t_target":[7200, 5400, 3600, 1800],
      "d_target":[1000, 750, 500, 250, 0]
    },
    "extract_checkins":{
      "ids": ["user", "location", "checkin"]
    }
  },

  "__parameters_notes__": {
    "threshold":[
      "ts is the time threshold for the co-location (in seconds)",
      "ds is the distance threshold for the co-location (in degrees of latitude and longitude)",
      "distance threshold <0.001> is approximately 111 meters (in the equator) or less depends on the distance to the Equator"
    ],
    "colocation":[
      "run by 'user' or 'venue' or 'checkin' to aggregate the check-ins in the map-reduce"
    ],
    "partial_colocation":[
      "d_target is in meters while d_input is in degrees of lat/lon",
      "t_target and d_target should be in decreasing order to make the code works well"
    ]
  },

  "dataset": ["gowalla", "brightkite", "foursquare"],
  "mode": ["all", "weekday", "weekend"],
  "maps_api": "GOOGLE MAPS API",

  "directory": {
    "dataset": "dataset",
    "intermediate": "intermediate",
    "visual":"visual",
    "colocation":"intermediate/colocation"
  },
  "intermediate": {
    "checkins_per_user":"checkins_per_user_{}.pickle",
    "checkins_per_venue":"checkins_per_venue_{}.pickle",
    "checkins_all":"checkins_all_{}.pickle",
    "colocation":"co_raw_p{}_k{}_t{}_d{}.csv",
    "colocation_compressed":"co_raw_p{}_k{}_t{}_d{}.csv.bz2",
    "colocation_part":"co_raw_p{}_k{}_t{}_d{}_s{}_f{}.csv",
    "colocation_re":"(co_raw_)(p{}_)(k{}_)(t{}_)(d{}_)(s\\d*_)(f(-)?\\d*).csv"
  }
}