{
  "n_core": 4,

  "active_dataset": ["foursquare"],
  "active_mode": ["weekend"],

  "__parameters_notes__": [
    "ts is the time threshold for the co-location (in seconds)",
    "ds is the distance threshold for the co-location (in degrees of latitude and longitude)",
    "distance threshold <0.001> is approximately 111 meters (in the equator) or less depends on the distance to the Equator"
  ],

  "ts": [7200],
  "ds": [0.01],

  "dataset": ["gowalla", "brightkite", "foursquare"],
  "mode": ["all", "weekday", "weekend"],
  "maps_api": "GOOGLE MAPS API",

  "directory": {
    "dataset": "dataset",
    "intermediate": "intermediate",
    "visual":"visual",
    "colocation":"intermediate/colocation"
  },
  "intermediate": {
    "checkins":"checkins_per_user_{}.pickle",
    "colocation":"co_raw_p{}_k{}_t{}_d{}.csv",
    "colocation_part":"co_raw_p{}_k{}_t{}_d{}_s{}_f{}.csv",
    "colocation_re":"(co_raw_)(p{}_)(k{}_)(t{}_)(d{}_)(s\\d*_)(f(-)?\\d*).csv"
  }
}